@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Vazir-Thin.eot');
  src: url('../fonts/Vazir-Thin.ttf') format('ttf'),
    url('../fonts/Vazir-Thin.woff') format('woff'),
    url('../fonts/Vazir-Thin.woff2') format('woff2');
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Vazir-Light.eot');
  src: url('../fonts/Vazir-Light.ttf') format('ttf'),
    url('../fonts/Vazir-Light.woff') format('woff'),
    url('../fonts/Vazir-Light.woff2') format('woff2');
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Vazir-Medium.eot');
  src: url('../fonts/Vazir-Medium.ttf') format('ttf'),
    url('../fonts/Vazir-Medium.woff') format('woff'),
    url('../fonts/Vazir-Medium.woff2') format('woff2');
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 950;
  src: url('../fonts/Vazir-Bold.eot');
  src: url('../fonts/Vazir-Bold.ttf') format('ttf'),
    url('../fonts/Vazir-Bold.woff') format('woff'),
    url('../fonts/Vazir-Bold.woff2') format('woff2');
}

input:focus {
  outline: none;
}

input {
  text-align: left;
}

*,
*::after,
*::before {
  font-family: vazir, sans-serif;
}

@layer components {
  body {
    @apply min-h-screen;
  }

  .dropDown {
    @apply bg-white h-60 overflow-y-scroll overflow-x-hidden shadow-2xl absolute w-full flex flex-col gap-1 px-1 py-4 rounded-lg z-20;
    transition: .3s ease;
    box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0, 0, 0, 0.53);
  }

  .items {
    @apply rounded-lg select-none p-1 cursor-pointer;
    transition: .3s ease;
  }

  .items:hover {
    @apply bg-cyan-300;
  }

  .hiddenScrollBar::-webkit-scrollbar {
    display: none;
  }

  .autoCompleteInput {
    @apply text-left bg-default-100 cursor-pointer w-full h-[56px] p-2 rounded-lg;
    transition: 150ms ease;
  }

  .autoCompleteInput:hover {
    @apply bg-default-200;
  }

  .autoCompleteInput::placeholder {
    @apply text-right text-black font-thin;
  }

  .menu {
    @apply relative hidden max-lg:block w-7 h-5;
  }

  .top {
    transition: .5s ease;
  }

  .middle {
    transition: .5s ease;
  }

  .bottom {
    transition: .5s ease;
  }

  .socialMedia {
    @apply hover:bg-black flex justify-center items-center scale-[1.2] w-6 h-6 rounded-full border-[1px] border-solid border-black cursor-pointer;
    transition: .3s ease;
  }

  .socialMedia:hover>* {
    transition: .3s ease;
  }

  .socialMedia:hover>* {
    @apply invert;
  }
}